@using MvcBaseApp.Resources
@model MessageForSentDocument

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

@{
    Layout = ((bool?)ViewBag.AJAX) ?? false ? "~/Views/Shared/_Layout.cshtml" : null;
}

<h4>
    @(Model.Id == 0 ? Labels.MessageForSentDocument_Add : Labels.MessageForSentDocument + Model.Id)
</h4>


<!-- Button Click Events-->
<script>
function OnSaveMessageForSentDocumentClick(s, e) {
        var data = $(AddMessageForSentDocumentFormLayout.GetParentForm()).serialize();
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddEdit", "MessageForSentDocument")',
            data: data + '&id=@Model.Id&=@Model.',
            success: function (response) {
                closeLastPage();
            },
            error: function () {
                $.alert('@Labels.ErrorNullFields');
            }
        });
    }

    function OnCancelMessageForSentDocumentClick(s, e) {
        closeLastPage();
    }
</script>



@using (Html.BeginForm("AddEdit", "MessageForSentDocument"))
{
    <div id="editableContainer">
        @Html.Partial("_AddEdit", Model)
    </div>
}

<!-- Additional Binding -->
<script>
    hideBigLoader();
</script>
