/Database/obj
/Database/bin
/AppForAdmin/obj
/AppForAdmin/Temp
/AppForAdmin/App_Data
/AppForAdmin/bin
/DataModel/obj
/DataModel/bin
/MvcBaseApp/Temp
/MvcBaseApp/App_Data
/MvcBaseApp/bin
/MvcBaseApp/obj
/.vs
/AppForTechSupp/obj
/AppForTechSupp/bin
/Database/Database.dbmdl
/Database/Database.jfm
