@using MvcBaseApp.Resources
@model Subject

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

@{
    Layout = ((bool?)ViewBag.AJAX) ?? false ? "~/Views/Shared/_Layout.cshtml" : null;
}

<!-- Button Click Events -->
<script>
    function OnSaveSubjectClick(s, e) {
        var data = $(AddSubjectFormLayout.GetParentForm()).serialize();
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddEdit", "Subject")',
            data: data + '&id=@Model.Id',
            success: function (response) {
                closeLastPage(response);
            },
            error: function () {
                $.alert('@Labels.ErrorNullFields');
            }
        });
    }

    function OnCancelSubjectClick(s, e) {
        closeLastPage();
    }
</script>

<div id="editableContainer">
    @using (Html.BeginForm("AddEdit", "Subject"))
    {
        @Html.Partial("_AddEdit", Model)
    }
</div>

<!-- Additional Binding -->
<script>
    hideBigLoader();
</script>
