@model MvcBaseApp.Models.IndexGridModel 

</div>

<!-- Additional Binding -->
<script>

    hideBigLoader();

    bindings.push(bind@(Model.EntityName)List);

    function bind@(Model.EntityName)List() {
    }
</script>